@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-flex link-list">
    <a href="/student">Student</a>
    <a href="/instructor">Instructor</a>
</div>

@section Styles {
    <style>
        /* define custom styles here to be rendered in head */
        .link-list {
            gap: 4rem;
            justify-content: center;
        }
    </style>
}

@section Scripts {
    <script>

    </script>
}