@{
  ViewData["Title"] = "Add Student";
}

@model Student;

<form asp-action="AddStudent" method="post">
  <div class="mb-3">
    <label asp-for="FirstName" class="form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span class="text-danger" asp-validation-for="FirstName"></span>
  </div>
  <div class="mb-3">
    <label asp-for="LastName" class="form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span class="text-danger" asp-validation-for="LastName"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Birthdate" class="form-label"></label>
    <input asp-for="Birthdate" type="date" class="form-control" />
    <span class="text-danger" asp-validation-for="Birthdate"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" type="email" class="form-control" />
    <span class="text-danger" asp-validation-for="Email"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Major" class="form-label"></label>
    <select asp-for="Major" asp-items="Html.GetEnumSelectList<Major>()" class="form-control"></select>
    <span class="text-danger" asp-validation-for="Major"></span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
